<div class="page" ng-controller="leagues">
    <div class="row">
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <form class="large-6 columns large-centered">
                        <h3 class="page-title text-center">Add<span>League</span></h3>
                        <input type="text" placeholder="League Name" ng-model="league.name">
                        <input type="text" placeholder="League Image" ng-model="league.image">
                        <input type="text" placeholder="Season" ng-model="league.season">

                        <input type="submit" class="button large-12" ng-click="addLeague(league)" value="Add">
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

