<div class="page" ng-controller="matches">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <form class="large-6 columns large-centered" ng-controller="teams">
                        <h3 class="page-title text-center">Add<span>Match</span></h3>
                        <input type="text" placeholder="Event Name" ng-model="match.eventName">
                        <input type="text" placeholder="Team Away" ng-model="match.awayTeam" ng-change="userTyping=true">
                        <!-- Autocomplete -->
                        <ul ng-show="userTyping">
                            <li ng-repeat="team in teams | toArray | filter:match.awayTeam | limitTo:limit | orderBy:'name'">
                                <a ng-click="selectTeam(team)">
                                    <div class="row">
                                        <div class="searchOutcome large-12 columns">
                                            <h6 class="left inline-list">{{team.name}}</h6>
                                            <img class="search-picture right" ng-src="{{team.picture}}" alt="Team Logo">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <input type="text" placeholder="Team Home" ng-model="match.homeTeam" ng-change="userTypingB=true">
                        <!-- Autocomplete -->
                        <ul ng-show="userTypingB">
                            <li ng-repeat="team in teams | toArray | filter:match.homeTeam | limitTo:limit | orderBy:'name'">
                                <a ng-click="selectTeamHome(team)">
                                    <div class="row">
                                        <div class="searchOutcome large-12 columns">
                                            <h6 class="left inline-list">{{team.name}}</h6>
                                            <img class="search-picture right" ng-src="{{team.picture}}" alt="Team Logo">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <input type="text" placeholder="Date" ng-model="match.date">
                        <input type="text" placeholder="Time" ng-model="match.time">

                        <input type="submit" class="button large-12" ng-click="addMatch(match)" value="Add">
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

