<div class="page" ng-controller="news">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <!-- Add news form -->
                    <form class="large-6 columns large-centered">
                        <h3 class="page-title text-center">Add<span>News</span></h3>
                        <input type="text" placeholder="Title" ng-model="newsItem.title">
                        <input type="text" placeholder="Image Url" ng-model="newsItem.image">
                        <textarea placeholder="Article Content" rows="10" cols="80" ng-model="newsItem.content">
                        </textarea>
                        <input type="submit" class="button large-12 medium-12 small-12" ng-click="addNewsItem(newsItem)" value="Add">
                        <a href="#/news"> <button class="button large-12 medium-12 small-12">back</button></a>
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

