<div class="page" ng-controller="teams">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <form class="large-6 columns large-centered">
                        <h3 class="page-title text-center">Add<span>TeamMate</span></h3>
                        <input type="text" placeholder="TeamMate Name" ng-model="player.name">
                        <input type="submit" class="button large-12" ng-click="addPlayerToTeam(player)" value="Add TeamMate">
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

