<div class="page" ng-controller="news">
    <div class="row">
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <!-- Edit News Form-->
                    <form class="large-6 columns large-centered" name="form" novalidate>
                        <h3 class="page-title text-center">Edit<span>News</span></h3>
                        <input type="text" placeholder="Title" ng-model="newsItem.title" required>
                        <input type="text" placeholder="Image Url" ng-model="newsItem.image" required>
                        <textarea placeholder="Article content goes here" rows="10" cols="80" ng-model="newsItem.content" required>
                        </textarea>
                        <input type="submit" class="button large-12 medium-12 small-12" ng-disabled="form.$invalid" value="Edit" ng-click="updateNewsItem(newsItem)">
                        <a href="#/news"> <button class="button large-12 medium-12 small-12">back</button></a>
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

