
<div class="page" ng-controller="gameController">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <!-- Admin Navigation -->
                <dl class="sub-nav large-12 columns">
                    <dd><a href="#/gts">GTS</a></dd>
                    <dd><a href="#/users">Users</a></dd>
                    <dd><a href="#/stations">Stations</a></dd>
                    <dd class="active"><a href="#/games">Games</a></dd>
                </dl>

                <div class="gts-hr"><hr /> </div>
                <h1 class="text-center">Games</h1>
                <!-- Page Content -->
                <div class="page-content">
                    <!-- Game info -->
                    <form class="large-6 medium-6 columns  medium-centered large-centered" name="form" novalidate>
                            <!-- Add a game button modal -->
                            <div class="large-12 columns large-centered">
                                <button data-reveal-id="gts-game-list" class="button large-12 columns large-centered">Add A Game</button>
                            </div>
                            <div class="large-12 columns large-centered">
                                <hr />
                                <h4 style="text-align: center;">Or</h4>
                                <hr />
                            </div>
                            <!-- Game Art -->
                            <div class="large-8 medium-5 small-12 columns medium-centered large-centered">
                                <img class="select-margin" src="{{gameInfos.gameArtUrl}}" ng-show="tempGame.gameArtUrl">
                            </div>

                            <!-- Search or Add new game -->
                            <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
                                <input type="text" autocomplete="off" placeholder="Search Or Add Game" ng-model="tempGame.gameTitle" ng-change="typing=true" required>
                                <ul ng-show="typing">
                                    <li ng-repeat="(index,game) in games | toArray | filter:tempGame.gameTitle | limitTo:limit | orderBy:'gameTitle'">
                                        <a ng-click="selectGame(game,index)">
                                            <div class="row">
                                                <div class="searchOutcome large-12 columns">
                                                    <h6 class="left inline-list">{{game.gameTitle}}</h6>
                                                    <img class="search-picture right" src="{{game.gameArtUrl}}">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- System -->
                            <div class="large-12 medium-12 small-12 columns medium-centered large-centered" ng-show="tempGame">
                                <select class="select-margin" ng-model="tempGame.gameSystem" required>
                                    <option value="" disabled selected>Select The System</option>
                                    <option>Playstation 4</option>
                                    <option>Playstation 3</option>
                                    <option>Xbox One</option>
                                    <option>Wii U</option>
                                </select>
                            </div>
                            <!-- Game Quantity -->
                            <div class="large-12 medium-12 small-12 columns medium-centered large-centered" ng-show="tempGame">
                                <input type="number" placeholder="Enter Quantity" name="gameQuantity2" ng-model="tempGame.gameQuantity" required>
                                <!-- Form Validation -->
                                <div class="error" ng-show="form.gameQuantity2.$dirty && form.gameQuantity2.$invalid">
                                    <small class="error" ng-show="form.gameQuantity2.$error.required">Enter Quantity</small>
                                </div>
                            </div>

                            <!-- Game Art Url -->
                            <div class="large-12 medium-12 small-12 columns medium-centered large-centered" ng-show="tempGame">
                                <input type="text" placeholder="Please enter a URL" name="url2" ng-model="tempGame.gameArtUrl" required>
                                <!-- Form Validation -->
                                <div class="error" ng-show="form.url2.$dirty && form.url2.$invalid">
                                    <small class="error" ng-show="form.url2.$error.required">Please Enter A Game Art URL</small>
                                </div>
                            </div>

                            <!-- Form Buttons Save/Delete -->
                            <div class="large-12 medium-12 small-12 columns medium-centered large-centered" ng-show="tempGame">
                                <button type="button" id="update_game_btn" class="add-button select-margin button form-buttons large-12 medium-12 small-12" ng-click="updateGame(tempGame)">Update</button>
                                <button type="button" id="delete_game_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-click="deleteGame(tempGame)">Delete</button>
                            </div>
                    </form>
                </div>
            </div>
        </div> <!-- end page-container -->
    </div><!-- end row -->
    <div id="gts-game-list" class="reveal-modal small" data-reveal>
    <h1 class="text-center">Add A Game</h1>

    <form class="large-8 medium-10 columns medium-centered large-centered" name="form" novalidate>

        <!-- Search or Add new game -->
        <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
            <input type="text" name="gameTitle" autocomplete="off" placeholder="Game Name" ng-model="game.gameTitle" required>
            <div class="error" ng-show="form.gameTitle.$dirty && form.gameTitle.$invalid">
                <small class="error" ng-show="form.gameTitle.$error.required">Enter A Game Title</small>
            </div>
        </div>

        <!-- System -->
        <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
            <select class="select-margin" ng-model="game.gameSystem" required>
                <option value="" disabled selected>Game System</option>
                <option>Playstation 4</option>
                <option>Playstation 3</option>
                <option>Xbox One</option>
                <option>Wii U</option>
            </select>
        </div>
        <!-- Game Quantity -->
        <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
            <input type="tel" placeholder="Game Quantity" name="gameQuantity" ng-model="game.gameQuantity" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form.gameQuantity.$dirty && form.gameQuantity.$invalid">
                <small class="error" ng-show="form.gameQuantity.$error.required">Enter Quantity</small>
            </div>
        </div>

        <!-- Game Art Url -->
        <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
            <input type="text" placeholder="Please enter a URL" name="url" ng-model="game.gameArtUrl" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form.url.$dirty && form.url.$invalid">
                <small class="error" ng-show="form.url.$error.required">Please Enter a URL</small>
            </div>
        </div>

        <!-- Form Buttons Save/Delete -->
        <div class="large-12 medium-12 small-12 columns medium-centered large-centered">
            <button type="button" id="add_game_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-disabled="form.$invalid" ng-click="saveGame(game)">Save</button>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
</div><!-- end page -->
<!-- Modal -->

<script>
    $(document).foundation();
</script>
