
<div class="page" ng-controller="teams">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="large-12 columns">
                <div class="row">
                    <h3 class="page-title large-11 small-9 columns">{{selectedPlayer.first_name}}<span>{{selectedPlayer.last_name}}</span></h3>
                </div>
            </div>
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- end page -->