
<div class="page" ng-controller="gameController">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <!-- Admin Navigation -->
                <dl class="sub-nav large-12 columns">
                    <dd><a href="#/gts">GTS</a></dd>
                    <dd><a href="#/users">Users</a></dd>
                    <dd><a href="#/stations">Stations</a></dd>
                    <dd class="active"><a href="#/games">Games</a></dd>
                </dl>

                <div class="gts-hr"><hr /> </div>
                <h1 class="text-center">Games</h1>
                <!-- Game info -->
                <form class="large-6 columns large-centered" name="form" novalidate>
                        <!-- Add a game button modal -->
                        <div class="large-12 columns large-centered">
                            <button data-reveal-id="gts-game-list" class="button large-12 columns large-centered">Add A Game</button>
                        </div>

                    <!-- Game Art -->
                        <div class="large-8 medium-5 small-12 columns medium-centered large-centered">
                            <img class="select-margin" src="{{gameInfos.gameArtUrl}}" ng-show="gameInfos.gameArtUrl">
                        </div>

                    <!-- Search or Add new game -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="text" autocomplete="off" placeholder="Search Or Add Game" ng-model="gameInfos.gameTitle" ng-change="typing=true" required>
                            <ul ng-show="typing">
                                <li ng-repeat="(index,game) in games | filter:gameInfos.gameTitle | limitTo:limit | orderBy:'gameTitle'">
                                    <a ng-click="selectGame(game)">
                                        <div class="row">
                                            <div class="searchOutcome large-12 columns">
                                                <h6 class="left inline-list">{{game.gameTitle}}</h6>
                                                <img class="search-picture right" src="{{game.gameArtUrl}}">
                                            </div>
                                        </div>

                                    </a>
                                </li>
                            </ul>
                        </div>

                    <!-- System -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <select class="select-margin" ng-model="gameInfos.gameSystem" required>
                                <option value="" disabled selected>Select The System</option>
                                <option>Playstation 4</option>
                                <option>Playstation 3</option>
                                <option>Xbox One</option>
                                <option>Wii U</option>
                            </select>
                        </div>
                    <!-- Game Quantity -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="tel"
                                   placeholder="Enter Quantity"
                                   name="gameQuantity"
                                   ng-model="gameInfos.gameQuantity" required>
                            <!-- Form Validation -->
                            <div class="error" ng-show="form.gameQuantity.$dirty && form.gameQuantity.$invalid">
                                <small class="error" ng-show="form.gameQuantity.$error.required">Enter Quantity</small>
                            </div>
                        </div>

                    <!-- Game Art Url -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="text"
                                   placeholder="Please enter a URL"
                                   name="url"
                                   ng-model="gameInfos.gameArtUrl" required>
                            <!-- Form Validation -->
                            <div class="error" ng-show="form.url.$dirty && form.url.$invalid">
                                <small class="error" ng-show="form.url.$error.required">Please Enter A Game Art URL</small>
                            </div>
                        </div>

                    <!-- Form Buttons Save/Delete -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <button id="add_game_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-disabled="form.$invalid" ng-click="updateGame(gameInfos)">Save</button>

                        </div>
                </form>
            </div>
        </div> <!-- end page-container -->
    </div><!-- end row -->
</div><!-- end page -->
<div id="gts-game-list" class="reveal-modal small" data-reveal>
    <h1 class="text-center">Add A Game</h1>

    <form class="large-6 columns large-centered" name="form" ng-controller="gameController" novalidate>

        <!-- Game Art -->
        <div class="large-8 medium-5 small-12 columns medium-centered large-centered">
            <img class="select-margin" src="{{gameInfos.gameArtUrl}}" ng-show="gameInfos.gameArtUrl">
        </div>

        <!-- Search or Add new game -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="text" autocomplete="off" placeholder="Search Or Add Game" ng-model="gameInfos.gameTitle" ng-change="typing=true" required>
            <ul ng-show="typing">
                <li ng-repeat="game in games | toArray | filter:gameInfos.gameTitle | limitTo:limit | orderBy:'gameTitle'">
                    <a ng-click="selectGame(game, game.$key, game.$id, game.$post)">
                        <div class="row">
                            <div class="searchOutcome large-12 columns">
                                <h6 class="left inline-list">{{game.gameTitle}}</h6>
                                <img class="search-picture right" src="{{game.gameArtUrl}}">
                            </div>
                        </div>

                    </a>
                </li>
            </ul>
        </div>

        <!-- System -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <select class="select-margin" ng-model="gameInfos.gameSystem" required>
                <option value="" disabled selected>Select The System</option>
                <option>Playstation 4</option>
                <option>Playstation 3</option>
                <option>Xbox One</option>
                <option>Wii U</option>
            </select>
        </div>
        <!-- Game Quantity -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="tel"
                   placeholder="Enter Quantity"
                   name="gameQuantity"
                   ng-model="gameInfos.gameQuantity" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form.gameQuantity.$dirty && form.gameQuantity.$invalid">
                <small class="error" ng-show="form.gameQuantity.$error.required">Enter Quantity</small>
            </div>
        </div>

        <!-- Game Art Url -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="text"
                   placeholder="Please enter a URL"
                   name="url"
                   ng-model="gameInfos.gameArtUrl" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form.url.$dirty && form.url.$invalid">
                <small class="error" ng-show="form.url.$error.required">Please Enter A Game Art URL</small>
            </div>
        </div>

        <!-- Form Buttons Save/Delete -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <button id="add_game_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-disabled="form.$invalid" ng-click="saveGame(gameInfos, selectGames)">Save</button>

        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>

<script>
    $(document).foundation();
</script>
