<div class="page" ng-controller="gts">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <!-- Admin Navigation -->
                <dl class="sub-nav large-12 columns">
                    <dd class="active"><a href="#/gts">GTS</a></dd>
                    <dd><a href="#/users">Users</a></dd>
                    <dd><a href="#/stations">Stations</a></dd>
                    <dd><a href="#/games">Games</a></dd>
                </dl>
                <div class="gts-hr"><hr /> </div>
                <!-- Add To GTS Form -->
                <div class="large-6 medium-6 columns">
                    <h6 class="text-center">Add To GTS</h6>
                    <form class="large-10 columns large-centered">
                        <div class="row">
                            <!-- Gamer Selection -->
                            <div class="email-input large-12 medium-12 columns">
                                <input type="text" ng-model="userInfos.name" placeholder="Enter Email" ng-change="userTyping=true">
                                <ul ng-show="userTyping">
                                    <li ng-repeat="user in users | filter:userInfos.name | limitTo:limit | orderBy:'name'">
                                        <a ng-click="selectUser(user)">
                                            <div class="searchOutcome large-12 columns">
                                                <h6 class="left inline-list">{{user.name}}</h6>
                                                <img class="searchImg right" src="{{user.profilePicture}}">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Station Selection -->
                        <div class="row">
                            <div class="select-station large-12 columns">
                                <select ng-model="tempStation.stationNumber">
                                    <option value="" disabled selected>Select A Station</option>
                                    <option ng-repeat="station in emptyStations">{{station.stationNumber}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Game Selection -->
                        <div class="row">
                            <div class="select-game large-12 columns">
                                <input type="text" ng-model="tempStation.game" placeholder="Select Game" ng-change="gameTyping=true">
                                <ul ng-show="gameTyping">
                                    <li ng-repeat="(index,game) in games | filter:tempStation.game | limitTo:limit | orderBy:'gameTitle'">
                                        <a ng-click="selectGame(game)">
                                            <div class="searchOutcome large-12 columns">
                                                <h6 class="left inline-list">{{game.gameTitle}}</h6>
                                                <img class="searchImg right" src="{{game.gameArtUrl}}">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="select-time large-12 columns">
                                <select ng-model="tempStation.countdown">
                                    <option value="" disabled selected>How Long?</option>
                                    <option>30</option>
                                    <option>60</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <button class="button large-12 columns" id="add_active_btn" ng-click="addActiveStation(tempStation)">Play</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Queue List -->
                <div class="large-6 medium-6 columns">
                    <h6 class="text-center">Waiting List</h6>
                    <!-- Queue List -->
                    <div class="queue-list large-10 columns large-centered"  ng-repeat="queuedPlayer in playerQueue | toArray">
                        <div>
                            <h6 class="queue-name left">{{queuedPlayer.name}}</h6>
                            <a class="queue-remove right" ng-click="removeFromQueue(queuedPlayer.$key)">&#215;</a>
                            <h6 class="check-in right">{{queuedPlayer.checkedIn}}</h6>
                        </div>
                        <div class="queue-system">
                            <h6 class="large-12 small-12 left">{{queuedPlayer.gameSystem}}</h6>
                        </div>
                    </div>
                    <div class="large-10 columns large-centered">
                        <button class="button large-12 columns" data-reveal-id="player-queue">Add To Queue</button>
                    </div>
                </div>

                <div class="gts-hr"><hr /> </div>

                <div id="gts">
                    <div class="large-12 columns">
                        <!-- GTS Panel -->
                        <div class="large-4 medium-6 small-12 columns left" ng-repeat="activeStation in activeStations">
                            <div class="gts-panels large-12">

                                <div class="large-2 medium-2 small-2 columns">
                                    <h1 class="station-number left">{{activeStation.stationNumber}}</h1>
                                </div>
                                <div class="large-4 medium-4 small-4 columns">
                                    <h1 class="station-timer">{{activeStation.countdown}}</h1>
                                </div>
                                <div class="large-5 medium-5 small-5 columns">
                                    <img class="gts-game right" ng-src="{{activeStation.gameArt}}" alt="Game Image">
                                </div>
                            </div>
                        </div>
                        <!-- Empty Stations -->
                        <div class="large-4 medium-6 small-12 columns left" ng-repeat="emptyStation in emptyStations">
                            <div class="gts-panels large-12">
                                <div class="large-2 medium-2 small-4 columns">
                                    <h1 class="station-number left">{{emptyStation.stationNumber}}</h1>
                                </div>
                                <div class="empty-station-system large-10 medium-8 small-8 columns left">
                                    <h6 class="large-12 small-10">{{emptyStation.stationSystem}}</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
    <!-- Modal -->
    <div id="player-queue" class="reveal-modal small" data-reveal>
    <h1 class="text-center">Add to Queue</h1>

    <form class="large-10 medium-12 columns large-centered medium-centered" name="form" novalidate>
        
        <!-- Add user -->
        <div class="large-12 medium-12 small-12 medium-centered large-centered">
            <input type="text" autocomplete="off" placeholder="Add User" ng-model="queueUser.name" required>
        </div>

        <!-- System -->
        <div class="large-12 medium-12 small-12 medium-centered large-centered">
            <select class="select-margin" ng-model="queueUser.gameSystem" required>
                <option value="" disabled selected>Select The System</option>
                <option>Playstation 4</option>
                <option>Playstation 3</option>
                <option>Xbox One</option>
                <option>Wii U</option>
            </select>
        </div>

        <!-- Form Buttons Save/Delete -->
        <div class="large-12 medium-12 small-12 medium-centered large-centered">
            <button id="add_queue_btn" class="add-button button form-buttons large-12 medium-12 small-12" ng-click="addToPlayerQueue(queueUser)">Add to Queue</button>

        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
</div><!-- End Page -->


<script>
    $(document).foundation();
</script>