<div class="page">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">
                    <div class="featured-news">
                        <div class="row">
                            <h3 class="page-title large-11 small-9 columns">Featured<span>News</span></h3>
                            <h6 class="home-more-news large-1 small-3 columns right"><a href="#/news">more...</a></h6>
                            <div class="row" ng-controller="news">
                                <!-- Recent News content -->
                                <div class="large-8 medium-8 small-12 columns">
                                    <div ng-repeat="post in news | toArray | orderObjectBy: 'date':true | limitTo: 1">
                                        <a ng-href="#/newspage/{{post.$key}}">
                                            <div class="news-content news-main large-12 medium-12 small-12">
                                                <div>
                                                    <img class="news-main-image large-12 medium-12 small-12" ng-src="{{post.image}}" alt="News">
                                                </div>
                                                <div class="news column">
                                                    <div class="news-title">
                                                        <h5>{{post.title}}</h5>
                                                    </div>
                                                    <div class="news-info">
                                                        <h6 class="left">{{post.poster}}</h6>
                                                        <h6 class="right">{{post.date}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="large-4 medium-4 small-12 columns">
                                    <div ng-repeat="post in news | toArray | orderObjectBy: 'date':true | limitTo: 3" ng-show="!$first">
                                        <a ng-href="#/newspage/{{post.$key}}">
                                            <div class="news-content news-small large-12 medium-6 small-12">
                                                <div class="news-image">
                                                    <img class="news-image large-12 medium-12 small-12" ng-src="{{post.image}}" alt="News">
                                                </div>
                                                <div class="news column">
                                                    <div class="news-title">
                                                        <h5>{{post.title}}</h5>
                                                    </div>
                                                    <div class="news-info">
                                                        <h6 class="left">{{post.poster}}</h6>
                                                        <h6 class="right">{{post.date}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="featured-matches">
                        <div class="row">
                            <h3 class="page-title large-12 column">Upcoming<span>Matches</span></h3>
                            <div class="matches-panel-container text-center">
                                <a class="matches-link" href="#/matches">
                                    <div class="large-4 medium-4 small-12 columns">
                                        <div class="matches-panel">
                                            <div class="match-event-name">
                                                <h6>2014 Call Of Duty</h6>
                                            </div>
                                            <div class="match-teams">
                                                <div class="teams">
                                                    <h6>(1)Team Crazy vs (2)Team Cool</h6>
                                                </div>
                                                <hr class="date-hr large-centered small-centered columns" />
                                                <div class="matches-schedule">
                                                    <div class="match-date large-10 columns large-centered">
                                                        <h6 class="left">Mon, Feb 14 8:00PM</h6>
                                                        <i class="match-chevron fa fa-chevron-right right"></i>
                                                        <i class="match-comments right fa fa-comment">110</i>
                                                    </div>
                                                    <!--<hr class="show-for-small" />-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="matches-link" href="#/matches">
                                    <div class="large-4 medium-4 small-12 columns">
                                        <div class="matches-panel">
                                            <div class="match-event-name">
                                                <h6>2014 Call Of Duty</h6>
                                            </div>
                                            <div class="match-teams">
                                                <div class="teams">
                                                    <h6>(1)Team Crazy vs (2)Team Cool</h6>
                                                </div>
                                                <hr class="date-hr large-centered small-centered columns" />
                                                <div class="matches-schedule">
                                                    <div class="match-date large-10 columns large-centered">
                                                        <h6 class="left">Mon, Feb 14 8:00PM</h6>
                                                        <i class="match-chevron fa fa-chevron-right right"></i>
                                                        <i class="match-comments right fa fa-comment">110</i>
                                                    </div>
                                                    <!--<hr class="show-for-small" />-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="matches-link" href="#/matches">
                                    <div class="large-4 medium-4 small-12 columns">
                                        <div class="matches-panel">
                                            <div class="match-event-name">
                                                <h6>2014 Call Of Duty</h6>
                                            </div>
                                            <div class="match-teams">
                                                <div class="teams">
                                                    <h6>(1)Team Crazy vs (2)Team Cool</h6>
                                                </div>
                                                <hr class="date-hr large-centered small-centered columns" />
                                                <div class="matches-schedule">
                                                    <div class="match-date large-10 columns large-centered">
                                                        <h6 class="left">Mon, Feb 14 8:00PM</h6>
                                                        <i class="match-chevron fa fa-chevron-right right"></i>
                                                        <i class="match-comments right fa fa-comment">110</i>
                                                    </div>
                                                    <!--<hr class="show-for-small" />-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->


<!--must be added for orbital specifically-->
<script>
    $(document).foundation();
</script>