<div class="row">
    <!-- Header BG -->
    <div class="header-top"></div>
    <div class="page-content-container">
        <div class="large-7 columns">
            <h3 class="content-h3">Standings</h3>
            <table>
                <thead>
                <tr>
                    <th width="50">Rank</th>
                    <th width="750">Team Name</th>
                    <th width="100">Win</th>
                    <th width="100">Lose</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#">Team Win</a></td>
                    <td>12</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#">Team Cool</a></td>
                    <td>10</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#">Team Crazy</a></td>
                    <td>9</td>
                    <td>2</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-5 columns">
            <h3 class="content-h3">Upcoming Matches</h3>
            <table>
                <thead>
                <tr>
                    <th width="850">Mon, Feb 14</th>
                    <th width="150">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Team Crazy vs Team Cool</a> </td>
                    <td>7:00 PM</td>
                </tr>
                <tr>
                    <td><a href="#">Team Hot Shots vs Team Hello Kitty</a></td>
                    <td>8:00 PM</td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <th width="850">Tues, Feb 15</th>
                    <th width="150">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Team Death vs Team Hot</a></td>
                    <td>7:00 PM</td>
                </tr>
            </table>
        </div>
    </div>
</div>
