<div class="page">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <!-- Standings Column -->
            <div class="large-7 columns">
                <h3 class="content-h3">Standings</h3>
                <table>
                    <thead>
                    <tr>
                        <th width="50">Rank</th>
                        <th width="750">Team Name</th>
                        <th width="100">Win</th>
                        <th width="100">Lose</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#/team">Team Win</a></td>
                        <td>12</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#/team">Team Cool</a></td>
                        <td>10</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#/team">Team Crazy</a></td>
                        <td>9</td>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Upcoming Matches Column-->
            <div class="large-5 columns">
                <h3 class="content-h3">Upcoming Matches</h3>
                <table>
                    <thead>
                    <tr>
                        <th width="850">Mon, Feb 14</th>
                        <th width="150">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#/matches">Team Crazy vs Team Cool <i class="fa fa-comment">10</i> </a> </td>
                        <td>7:00 PM</td>
                    </tr>
                    <tr>
                        <td><a href="#/matches">Team Hot Shots vs Team Hello Kitty <i class="fa fa-comment">2</i></a></td>
                        <td>8:00 PM</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr>
                        <th width="850">Tues, Feb 15</th>
                        <th width="150">Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="#/matches">Team Death vs Team Hot <i class="fa fa-comment">129</i></a></td>
                        <td>7:00 PM</td>
                    </tr>
                </table>
            </div>
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- end page -->