<div class="page" ng-controller="leagues">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <h3 class="page-title large-11 small-9 columns">League<span>Standings</span></h3>
            <h6 class="add-news large-1 small-3 columns right"><a href="#/leagueaddteam">+</a></h6>
            <!-- Standings Column -->
            <div class="large-7 columns">
                <table>
                    <thead>
                    <tr>
                        <th width="50">Rank</th>
                        <th width="750">Team Name</th>
                        <th width="100">Win</th>
                        <th width="100">Lose</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams | toArray | orderBy:teamSort">
                            <td>{{$index+1}}</td>
                            <td><a href="#/team/{{team.$key}}">{{team.name}}</a></td>
                            <td>{{team.wins}}</td>
                            <td>{{team.losses}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Upcoming Matches Column-->
            <div class="large-5 columns" ng-controller="matches">
                <table>
                    <thead>
                    <tr>
                        <th width="850">01/03/2014</th>
                        <th width="150">8:00 P.M.</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="match in matches | toArray | filter:isLeagueMatch">
                    <tr>
                        <td><a ng-href="#/match/{{match.$key}}">{{match.awayTeam.name}} vs {{match.homeTeam.name}} <i class="fa fa-comment">10</i> </a> </td>
                        <td>{{match.time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- end page -->