<div class="page" ng-controller="leagues">
    <div class="row">
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" ng-src="{{selectedLeagueMatch.homeTeam.picture}}" alt="team-logo">
                        <div ng-controller="teams" ng-repeat="team in teams | orderByPriority | limitTo: 1">
                            <a ng-href="#/team/{{selectedLeagueMatch.homeTeam.key}}"><h3>{{selectedLeagueMatch.homeTeam.name}}</h3></a>
                        </div>

                        <div ng-repeat="player in selectedLeagueMatch.homeTeam.players">
                            <div class="player-pics large-12 columns">
                                <img class="match-player-image large-3" ng-src="{{player.profilePicture}}">
                            </div>
                            <div class="player-names">
                                <a ng-href="#/gamer_page/{{player.id}}">{{player.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-2 columns left">
                    <div class="match-vs large-12 text-center">
                        <h3>{{selectedLeagueMatch.eventName}}</h3>
                        <h4>Versus</h4>
                        <h6>{{selectedLeagueMatch.date}}</h6>
                        <h6>{{selectedLeagueMatch.time}}</h6>

                        <a data-reveal-id="team-standing-modal" ng-bind-html="editStandings"></a>
                    </div>

                </div>
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" ng-src="{{selectedLeagueMatch.awayTeam.picture}}" alt="team-logo">
                        <div ng-controller="teams">
                            <a ng-href="#/team/{{selectedLeagueMatch.awayTeam.key}}"><h3>{{selectedLeagueMatch.awayTeam.name}}</h3></a>
                        </div>

                        <div ng-repeat="player in selectedLeagueMatch.awayTeam.players">
                            <div class="player-pics large-12 columns">
                                <img class="match-player-image large-3" ng-src="{{player.profilePicture}}">
                            </div>
                            <div class="player-names">
                                <a ng-href="#/gamer_page/{{player.id}}">{{player.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns text-center">
                        <h3 class="page-title large-12 columns">Match<span>Comment</span></h3>
                        <h3 class="page-title large-4 columns text-center">{{selectedMatch.$key}}</h3>
                        <!--<h3 class="page-title large-4 columns text-center">{{selectedMatch.eventName}}</h3>-->
                    </div>

                </div>
                <div class="large-9 columns large-centered">
                    <dir-disqus disqus-shortname="wingaming"
                                disqus-identifier="{{selectedLeagueMatch.time}}"
                                disqus-title="{{selectedLeagueMatch.date}}"
                                disqus-url="http://localhost:8888/wgl/#/leaguematch/"
                                disqus-category-id="leagueMatch"
                                disqus-disable-mobile="false">
                    </dir-disqus>
                </div>

                <!--<div id="disqus_thread" class="large-9 columns large-centered"></div>-->
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

<div id="team-standing-modal" class="reveal-modal small" data-reveal>
    <!-- Standings Column -->
    <div class="large-12 columns" ng-controller="leagues">

        <table>
            <thead>
            <tr>
                <th width="50">Rank</th>
                <th width="750">Team Name</th>
                <th width="100">Win</th>
                <th width="100">Lose</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="leagueTeam in selectedLeagueTeams | toArray">
                <td>{{$index+1}}</td>
                <td><a href="#/team/{{leagueTeam.$key}}">{{leagueTeam.name}}</a></td>
                <!--                <input type="hidden" ng-model="standing.leagueTeam" value="{{leagueTeam}}">-->
                <td><input type="text" placeholder="{{leagueTeam.wins}}" value="" ng-model="standing.wins"></td>
                <td><input type="text" placeholder="{{leagueTeam.losses}}" value="" ng-model="standing.losses"></td>
                <td><button class="button" ng-click="updateStanding(standing, leagueTeam.$key)" ng-click="openModal">Update</button></td>
            </tr>
            </tbody>
        </table>

    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="confirm-modal" class="reveal-modal small" data-reveal>
    <!-- Standings Column -->
    <div class="large-12 columns" ng-controller="leagues">

        <h1>Success!</h1>

    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<script>
    $(document).foundation();
</script>