
<div class="page">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" src="./img/logo.png" alt="team-logo">
                        <h3>Team Win</h3>
                        <h6>Erwin Angeles</h6>
                        <h6>Michael Fleming</h6>
                    </div>
                </div>
                <div class="large-2 columns left">
                    <div class="match-vs large-12 text-center">
                        <h4>Versus</h4>
                        <h6>Thur, Jan 17, 2014</h6>
                        <h6>7:00 PM</h6>
                    </div>
                </div>
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" src="./img/sucker.jpg" alt="team-logo">
                        <h3>Team Sucker</h3>
                        <h6>Rick James</h6>
                        <h6>Michael Jacksun</h6>
                    </div>
                </div>
                <div class="fb-comments" data-href="http://localhost/thewgl" data-numposts="5" data-colorscheme="light"></div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1415940978649412";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>