<div class="page" ng-controller="matches">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" ng-src="{{selectedMatch.homeTeam.picture}}" alt="team-logo">
                        <div ng-controller="teams" ng-repeat="team in teams | orderByPriority | limitTo: 1">
                            <a ng-href="#/team/{{selectedMatch.homeTeam.$id}}"><h3>{{selectedMatch.homeTeam.name}}</h3></a>
                        </div>

                        <div ng-repeat="player in selectedMatch.homeTeam.players">
                            <img class="match-player-image large-3" ng-src="{{player.profilePicture}}">
                            <<a ng-href="#/gamer_page/{{player.id}}">{{player.name}}</a>
                        </div>

                    </div>
                </div>
                <div class="large-2 columns left">
                    <div class="match-vs large-12 text-center">
                        <h4>Versus</h4>
                        <h6>{{selectedMatch.date}}</h6>
                        <h6>{{selectedMatch.time}}</h6>
                    </div>
                </div>
                <div class="large-5 columns">
                    <div class="large-12 columns text-center">
                        <img class="team-profile-logo" ng-src="{{selectedMatch.awayTeam.picture}}" alt="team-logo">
                        <div ng-controller="teams">
                            <a ng-href="#/team/{{team.$id}}"><h3>{{selectedMatch.awayTeam.name}}</h3></a>
                        </div>

                        <div ng-repeat="player in selectedMatch.awayTeam.players">
                            <img class="match-player-image large-3" ng-src="{{player.profilePicture}}">
                            <<a ng-href="#/gamer_page/{{player.id}}">{{player.name}}</a>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <h3 class="page-title large-12 column text-center">Match<span>Comment</span></h3>
                </div>
                <div id="disqus_thread" class="large-9 columns large-centered"></div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->
<!-- Disqus Script -->
<dir-disqus disqus-shortname="wingaming"
            disqus-identifier="{{ article.id }}"
            disqus-title="{{ article.title }}">
</dir-disqus>