<div class="page" ng-controller="news">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="large-12 columns">

                    <h3 class="page-title large-10 small-9 columns">Recent<span>News</span></h3>
                    <h6 class="add-news large-1 small-3 columns right"><a href="#/addnews">+</a></h6>                    
                    <!-- Recent News content -->
                    <div ng-repeat="($id, post) in news | limitTo:limit">
                        <a ng-href="#/newspage/{{post.$key}}">
                            <div class="news-content large-4 medium-4 small-12 columns">
                                <div class="news-image">
                                    <img class="news-image large-12 medium-12 small-12" ng-src="{{post.image}}" alt="News">
                                </div>
                                <div class="news column">
                                    <div class="news-title">
                                        <h5>{{post.title}}</h5>
                                    </div>
                                    <div class="news-info">
                                        <h6 class="left">{{post.poster}}</h6>
                                        <h6 class="right">{{post.date}}</h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>              
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

<script>
    $(document).foundation();
</script>
