<div class="page" ng-controller="news">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="row">
                    <div class="row">
                        <div class="large-12 column">
                            <div class="newspage-content">
                                <!-- Rcent News content -->
                                <div class="large-8 columns">
                                    <a href="#/news"><h3 class="page-title large-2 columns">News<span>Page</span></h3></a>
                                    <a href="#/editnews" class="edit-news right">Edit</a>
                                    <div class="news-content large-12 medium-4 small-12 columns">
                                        <div>
                                            <img class="news-main-image large-12 medium-12 small-12" ng-src="{{newsItem.image}}" alt="News">
                                        </div>
                                        <div class="news column">
                                            <div class="news-title">
                                                <h5>{{newsItem.title}}</h5>
                                            </div>
                                            <div class="news-info">
                                                <h6 class="left">{{newsItem.poster}}</h6>
                                                <h6 class="right">{{newsItem.date}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="large-4 columns">
                                    <h3 class="page-title large-12 column">Recent<span>News</span></h3>

                                    <div ng-repeat="post in news | toArray | orderObjectBy: 'date':true | limitTo: 2 ">
                                        <a ng-href="#/newspage/{{post.$key}}">
                                            <div class="news-content large-12 medium-4 small-12 columns">
                                                <div class="news-image">
                                                    <img class="news-image large-12 medium-12 small-12" ng-src="{{post.image}}" alt="News">
                                                </div>
                                                <div class="news column">
                                                    <div class="news-title">
                                                        <h5>{{post.title}}</h5>
                                                    </div>
                                                    <div class="news-info">
                                                        <h6 class="left">{{post.poster}}</h6>
                                                        <h6 class="right">{{post.date}}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="large-12 column">
                            <div class="newspage-bottom-content">
                                <div class="large-12 columns">
                                    <div class="large-8 columns">
                                        <p>{{newsItem.content}}</p>
                                        <div class="row">
                                            <h3 class="page-title large-12 column">News<span>Comment</span></h3>
                                        </div>
                                        <div id="disqus_thread"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->
<!-- Disqus Script -->
<dir-disqus disqus-shortname="wingaming"
            disqus-identifier="{{$id}}"
            disqus-title="{{newsItem.title}}">
</dir-disqus>