<div class="page" ng-controller="news">
    <div class="row">
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <div class="row">
                    <div class="row">
                        <div class="large-12 column">
                            <div class="newspage-content">
                                <!-- News Information with Image -->
                                <div class="large-12 columns">
                                    <a href="#/news"><h3 class="page-title large-2 columns">News<span>Page</span></h3></a>
                                    <div class="news-content large-12 medium-12 small-12 columns">
                                        <div class="hide-for-small">
                                            <img class="newspage-image large-12 medium-12 small-12" ng-src="{{newsItem.image}}" alt="News">
                                        </div>
                                        <div class="show-for-small">
                                            <img class="news-image large-12 medium-12 small-12" ng-src="{{newsItem.image}}" alt="News">
                                        </div>
                                        <div class="news column">
                                            <div class="news-title">
                                                <h5>{{newsItem.title}}</h5>
                                            </div>
                                            <div class="news-info">
                                                <h6 class="left">{{newsItem.poster}}</h6>
                                                <h6 class="right">{{newsItem.date}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="large-12 columns">
                            <div class="newspage-bottom-content">
                                <div class="large-12 columns">
                                    <!-- News Article Content -->
                                    <div class="large-8 columns">
                                        <p class="newspage-p">{{newsItem.content}}</p>
                                    </div>
                                    <h3 class="page-title large-12 column">Recent<span>News</span></h3>
                                    <div class="large-12 columns">
                                        <div class="large-4 columns" ng-repeat="post in news | toArray | orderObjectBy: 'date':true | limitTo: 3">
                                            <a ng-href="#/newspage/{{post.$key}}">
                                                <div class="news-content large-12 medium-4 small-12 columns">
                                                    <div class="news-image">
                                                        <img class="news-image large-12 medium-12 small-12" ng-src="{{post.image}}" alt="News">
                                                    </div>
                                                    <div class="news column">
                                                        <div class="news-title">
                                                            <h5>{{post.title}}</h5>
                                                        </div>
                                                        <div class="news-info">
                                                            <h6 class="left">{{post.poster}}</h6>
                                                            <h6 class="right">{{post.date}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <h3 class="page-title large-12 column">News<span>Comment</span></h3>
                                    <div id="disqus_thread" class="large-8 columns left"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->
<!-- Disqus Script -->
<dir-disqus disqus-shortname="wingaming"
            disqus-identifier="{{$id}}"
            disqus-title="{{newsItem.title}}">
</dir-disqus>