<div class="page" ng-controller="stationController">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <!-- Admin Navigation -->
                <dl class="sub-nav large-12 columns">
                    <dd><a href="#/gts">GTS</a></dd>
                    <dd><a href="#/users">Users</a></dd>
                    <dd class="active"><a href="#/stations">Stations</a></dd>
                    <dd><a href="#/games">Games</a></dd>
                </dl>

                <div class="gts-hr"><hr /> </div>
                <h1 class="text-center">Stations</h1>
                <!-- Page Content -->
                <div class="page-content">
                    <!-- Station info -->
                    <form class="large-6 columns large-centered" name="form" novalidate>
                        <!-- Add a station button modal -->
                        <div class="large-12 columns large-centered">
                            <button data-reveal-id="gts-station-list" class="button large-12 columns large-centered">Add A New Station</button>
                        </div>
                        <div class="large-12 columns large-centered">
                            <hr />
                            <h4 style="text-align: center;">Or</h4>
                            <hr />
                        </div>
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="text" autocomplete="off" placeholder="Search Stations" ng-model="tempStation.stationNumber" ng-change="typing=true" required>
                            <ul ng-show="typing">
                                <li ng-repeat="(index,station) in stations | filter:tempStation.stationNumber | limitTo:limit">
                                    <a ng-click="selectStation(station,index)">
                                        <div class="row">
                                            <div class="searchOutcome large-12 columns">
                                                <h6 class="left inline-list">{{station.stationNumber}}</h6>
                                                <h6 class="right text-right inline-list">{{station.stationSystem}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- System -->
                        <div class="select-margin large-12 medium-5 small-12 columns medium-centered large-centered">
                            <select ng-model="tempStation.stationSystem" required>
                                <option value="" disabled selected>Select the System</option>
                                <option>Playstation 4</option>
                                <option>Playstation 3</option>
                                <option>Xbox One</option>
                                <option>Wii U</option>
                            </select>
                        </div>

                        <!-- TV Type -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="text" placeholder="Add New TV Model" name="tv" ng-model="tempStation.stationTV" required>
                            <!-- Form Validation -->
                            <div class="error" ng-show="form.tv.$dirty && form.tv.$invalid">
                                <small class="error" ng-show="form.tv.$error.required">Please input a TV Model</small>
                            </div>
                        </div>

                        <!-- TV Serial Number -->
                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <input type="text" placeholder="Enter TV Model Serial" name="tvSerial" ng-model="tempStation.stationTVSerial" required>
                            <!-- Form Validation -->
                            <div class="error" ng-show="form.tvSerial.$dirty && form.tv.$invalid">
                                <small class="error" ng-show="form.tvSerial.$error.required">Please input a TV Serial</small>
                            </div>
                        </div>
                        <!-- Form Buttons Save/Delete -->

                        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
                            <button id="save_station_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-disabled="form.$invalid" ng-click="updateStation(tempStation)">Update</button>
<!--                            <button id="delete_station_btn" class="delete-button form-buttons large-12 medium-12 small-12" ng-show="station" ng-click="deleteStation(stationInfos)">Delete</button>-->
                        </div>

                    </form>
                </div>
            </div> <!-- end page-container -->
        </div><!-- end row -->
    </div>
    <div id="gts-station-list" class="reveal-modal small" data-reveal>
    <h1 class="text-center">Add A Station</h1>

    <form class="large-6 columns large-centered" name="form2" novalidate>
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="number" autocomplete="off" placeholder="Station Number" ng-model="station.stationNumber" required>
        </div>

        <!-- System -->
        <div class="select-margin large-12 medium-5 small-12 columns medium-centered large-centered">
            <select ng-model="station.stationSystem" required>
                <option value="" disabled selected>Select The System</option>
                <option>Playstation 4</option>
                <option>Playstation 3</option>
                <option>Xbox One</option>
                <option>Wii U</option>
            </select>
        </div>

        <!-- TV Type -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="text" placeholder="Add New TV Model" name="tv" ng-model="station.stationTV" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form.tv.$dirty && form.tv.$invalid">
                <small class="error" ng-show="form2.tv.$error.required">Please input a TV Model</small>
            </div>
        </div>

        <!-- TV Serial Number -->
        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <input type="text" placeholder="Enter Television Model Serial" name="tvSerial" ng-model="station.stationTVSerial" required>
            <!-- Form Validation -->
            <div class="error" ng-show="form2.tvSerial.$dirty && form.tv.$invalid">
                <small class="error" ng-show="form2.tvSerial.$error.required">Please input a TV Serial</small>
            </div>
        </div>
        <!-- Form Buttons Save/Delete -->

        <div class="large-12 medium-5 small-12 columns medium-centered large-centered">
            <a id="add_station_btn" class="add-button form-buttons large-12 medium-12 small-12" ng-disabled="form.$invalid" ng-click="saveStation(station)">Add</a>
        </div>

    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
</div>
<!-- Modal -->

<script>
    $(document).foundation();
</script>