<div class="page">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div id="fb-root"></div>

        <div class="page-content-container">
            <div class="page-content">
                <!-- 1st round -->
                <div class="1st-round-tourney-bracket large-3 columns">
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <h6>First Round</h6>
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record right">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div> <!-- End Tourney Match Panels -->
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record right">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div> <!-- End Tourney Match Panels -->
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record right">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div> <!-- End Tourney Match Panels -->
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record right">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div> <!-- End Tourney Match Panels -->
                </div><!-- End 1st Round -->


                <!-- 2nd round -->
                <div class="second-round-tourney-bracket large-3 columns left">
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <h6>Second Round</h6>
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record right">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div> <!-- End Tourney Match Panels -->
                    <!-- Tourney Match Panels -->
                    <div class="tourney-match-panel large-12">
                        <div class="tourney-match-date text-center">
                            <h6>Mon, Jan 15 @ 7PM</h6>
                        </div>
                        <div class="tourney-team-away large-12">
                            <div class="tourney-team-name left">
                                <h6>[1] Team Win</h6>
                            </div>
                            <div class="tourney-away-record r   ight">
                                <h6>4</h6>
                            </div>
                        </div>
                        <div class="tourney-match-info">
                            <h6>vs</h6>
                        </div>
                        <div class="tourney-team-home large-12">
                            <div class="tourney-team-name left">
                                <h6>[2] Team Suckers</h6>
                            </div>
                            <div class="tourney-home-record right">
                                <h6>0</h6>
                            </div>
                        </div>
                    </div><!-- End 1st Round -->


                </div><!-- Page Content -->
            </div><!-- End Page Container -->
        </div> <!-- End Row -->
    </div><!-- End Page -->