<div class="page" ng-controller="matches">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">

            <!-- Upcoming Matches Column-->
            <div class="large-12 columns">
                <div class="row">
                    <h3 class="page-title large-11 small-9 columns">Upcoming<span>Matches</span></h3>
                    <h6 class="add-news large-1 small-3 columns right"><a href="#/addmatch">+</a></h6>
                    <!-- Upcoming Matches -->
                    <a class="matches-link" href="#/match/{{match.$key}}" ng-repeat="match in matches | toArray">
                        <div class="large-4 medium-4 small-12 columns">
                            <div class="upcoming-match-info large-12 columns large-centered">
                                <div class="large-4 columns">
                                    <img class="upcoming-small-img" src="{{match.awayTeam.picture}}" alt="Team Logo">
                                    <h6>{{match.awayTeam.name}}</h6>
                                </div>
                                <div class="large-4 columns">
                                    <div class="row">
                                        <h6 class="match-event-name">{{match.eventName}}</h6>
                                    </div>

                                    <h6 class="match-team-vs"><span>vs</span> </h6>
                                    <h6 class="match-date">{{match.date}} </h6>
                                    <h6 class="match-time">{{match.time}}</h6>
                                </div>

                                <div class="large-4 columns">
                                    <img class="upcoming-small-img" src="{{match.homeTeam.picture}}" alt="Team Logo">
                                    <h6>{{match.homeTeam.name}}</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--<table class="large-5 columns">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th width="850">Mon, Feb 14</th>-->
                        <!--<th width="150">Time</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="match in matches | orderByPriority">-->
                        <!--<td><a ng-href="#/match/{{match.$id}}">{{match.homeTeam.name}} vs. {{match.awayTeam.name}}<i class="fa fa-comment">10</i> </a> </td>-->
                        <!--<td>{{match.time}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<table class="large-5 columns">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th width="850">Tues, Feb 15</th>-->
                        <!--<th width="150">Time</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td><a href="#/match">Team Death vs Team Hot <i class="fa fa-comment">129</i></a></td>-->
                        <!--<td>7:00 PM</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </div>
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- end page -->