<div class="page">
    <div class="row">
        <!-- Header BG -->
        <div class="header-top"></div>
        <!-- Page Container -->
        <div class="page-content-container">
            <div class="page-content">
                <!-- Admin Navigation -->
                <dl class="sub-nav large-12 columns">
                    <dd><a href="#/gts">GTS</a></dd>
                    <dd class="active"><a href="#/users">Users</a></dd>
                    <dd><a href="#/stations">Stations</a></dd>
                    <dd><a href="#/games">Games</a></dd>
                </dl>

                <div class="gts-hr"><hr /> </div>
                <h1 class="text-center">Users</h1>

                <div class="large-6 columns large-centered">
                    <form class="large-12 columns large-centered">
                        <div class="row">
                            <div class="large-10 columns large-centered">
                                <input type="text" placeholder="Search User">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-10 columns large-centered">
                                <input type="text" placeholder="User Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="select-margin large-10 columns large-centered">
                                <select>
                                    <option>Admin</option>
                                    <option>Staff</option>
                                    <option>Gamer</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-10 columns large-centered">
                                <button class="button large-12">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- Page Content -->
        </div><!-- End Page Container -->
    </div> <!-- End Row -->
</div><!-- End Page -->

