<!doctype html>
<html class="no-js" lang="en" ng-app="WGL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WGL| Win Gaming Lounge</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- Favicon -->
    <link href="./img/favicon.ico" rel="icon" type="image/x-icon" />
    <script src="js/modernizr.js"></script>

    <script src="ckeditor/ckeditor.js"></script>

</head>

<body ng-controller="Login">
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <a href="#/"><img class="desktop-logo" src="img/logo.png" alt="Win Gaming Lounge Logo"></a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="#/news">News</a></li>
            <li class="has-dropdown" ng-controller="leagues">
                <a href="#/leagues">Leagues</a>
                <ul class="dropdown">
                    <li ng-repeat="league in leagues | toArray"><a ng-href="#/league/{{league.$key}}">{{league.name}}</a></li>
                </ul>
            </li>
            <li><a href="#/tournaments">Tournaments</a></li>
            <li class="has-dropdown">
                <a href="javascript: void(0)">Competitors</a>
                <ul class="dropdown">
                    <li><a href="#/teams">Teams</a></li>
                </ul>
            </li>
            <li><a href="#/upcomingmatches">Matches</a></li>
            <li ng-hide="loginObj.user"><a class="login" ng-click="loginObj.$login('facebook')"><i class="fa fa-facebook"></i> Login</a> </li>
            <li class="has-dropdown" ng-show="loginObj.user"><a href="#/gamer_page/{{$key}}"> <img class="login-user-img" src="{{loginObj.user.profilePicture}}">{{loginObj.user.first_name}}</a>
                <ul class="dropdown">
                    <li><a href="#/gts">Admin</a></li>
                    <li><a class="login" ng-click="loginObj.$logout()">Logout</a></li>
                </ul>
            </li>
        </ul>

    </section>
</nav>


<!--Container for the view templates-->
<div id="container" ng-view="">

</div>

<footer>
    <div class="row">
        <div class="large-4 columns">
            <h3 class="page-title text-center">WGL<span>Sponsors</span></h3>
        </div>
        <div class="large-4 columns">
            <h3 class="page-title text-center">WGL<span>Partners</span></h3>
        </div>
        <div class="large-4 columns text-center">
            <h3 class="page-title">Follow<span>WGL</span></h3>
            <i class="follow-facebook fa fa-facebook-square"></i>
            <i class="follow-twitter fa fa-twitter-square"></i>
            <i class="follow-youtube fa fa-youtube-square"></i>
        </div>
    </div>
</footer>

<!--Jquery and Foundation-->
<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>

<!-- Firebase Connections -->
<script src="https://cdn.firebase.com/v0/firebase.js"></script>

<!--simple login-->
<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

<!--angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>

<!--angular route-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>

<!--angular sanitize-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-sanitize.min.js"></script>

<!--angularFire-->
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>

<!--Main JS-->
<script src="js/main.js"></script>

<!--Usable Controllers-->
<script src="js/controllers/NewsController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/TeamController.js"></script>
<script src="js/controllers/MatchController.js"></script>
<script src="js/controllers/LeagueController.js"></script>

</body>
</html>
